.mainContainer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    flex-direction: row;
}

.innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numero {

}

.playerContainer {
    background: green;
}

.cpuContainer {
    background: red;  
}

.carton {
    width: 30vw;
    height: 400px;
    border: solid 3px #aaa;
    border-radius: 7px;
    margin: 50px;
}

.tachado {

}

.dice {
    border: solid 3px #aaa;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 5em;
}

.button {
    border: solid 3px #aaa;
    border-radius: 4px;
    display: block;
    width: 100px;
    height: 55px;
    margin: 7px auto;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.button:hover {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    animation: boing 300ms ease-in-out;

    &.blue {
        background-color: #4a79f1;
        border: 1px solid darken(#4a79f1, 15%);
      }
}

.button:focus + .dice {
    animation: boing 400ms ease-in-out;
}
  
@keyframes boing {
    15%, 40%, 75%, 100% {
        transform-origin: center center;
    }
    15% {
        transform: scale(1.2, 1.1);
    }
    40% {
        transform: scale(0.95, 0.95);
    }
    75% {
        transform: scale(1.05, 1);
    }
    100% {
        transform: scale(1, 1);
    }
  }
